{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "KEY_VAULT_URI": "https://kv-woa-dev-xxxxxx.vault.azure.net/",
    "COSMOS_ACCOUNT_ENDPOINT": "https://cosmos-woa-dev.documents.azure.com:443/",
    "MET_OFFICE_DATAHUB_BASE_URL": "https://data.hub.api.metoffice.gov.uk/sitespecific/v0"
  }
}
